html, body{
    overflow: unset;
}

#nav{
    display: flex;
    justify-content: space-between;
}

#side{
    border-radius: 20px;
    display: flex;
    transition: width 1s;
}

.color{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
}

#lists{
    display: inline;
}

.list{
    background-color: rgba(255, 255, 255, 0.85);
    display: inline-flex;
    width: 20vw;
    margin: 5px;
    padding: 10px;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    transition: background-color 0.5s;
    flex-direction: column;
    justify-content: space-between;
}

.listHead{
    display: inline-flex;
    justify-content: space-between;
}

.list i{
    cursor: pointer;
}

.item, .itemAdd{
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px;
    display: flex;
    transition: background-color 1s;
    justify-content: space-between;
    border-radius: 3px;
    font-size: 0.75em;
}

.interact{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.check{
    width: 25px; height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

#add{
    background-color: rgba(0, 0, 0, 0.35);
    display: inline-block;
    width: 20vw;
    margin: 5px;
    padding: 10px;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    transition: background-color 0.5s;
}

a{
    color: black;
}

#add:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(80, 80, 80, 0.35);
}

.add:hover{
    text-decoration: none;
    color: rgb(80, 80, 80);
}

a:visited{
    color: black;
}

#mopen{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .listHead h5{
        font-size: 3em;

    }
    .list{
        display: flex;
        font-size: 3em;
        width: 100%;
        margin: 20px;
    }
    #mopen{
        display: flex;
        background-color: #FFFFFF;
        border: none;
        font-size: 70px;
        text-align: right;
    }
    #side{
        height: 100%;
        width: 0;
        overflow: hidden;
        background-color: #FFFFFF;
        border-radius: 0;
    }
    #add{
        display: block;
        width: 100%;
    }
    #add div h5{
        font-size: 4em;
    }
}